<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}" style="font-size: 20px;">{{ site.title | escape }}</a>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white">
        Pages
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">Tournament Info</a>
        <a class="dropdown-item" href="/rules">Rules</a>
        <a class="dropdown-item" href="/watch">Watch</a>
        <a class="dropdown-item" href="/groups">Group Stages</a>
        <a class="dropdown-item" href="/playoffs">Playoffs</a>
      </div>
    </div>
  </div>
</nav>
